---
layout: default
---
<!-- Wrapper -->
<div id="wrapper">

    {% include navigation.html %}

    <!-- Body of the page, pictures and text -->
    <style>
        .row {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }
        .column {
            flex: 50%;
            text-align: center;
            padding: 10vh;
        }
        img {
            max-width: 100%;
            height: auto;
            border: 2px solid #ddd;
            border-radius: 4px;
            padding: 1vh;
            width: 100%; /* Set the desired width of the rectangle */
            height: 100%; /* Set the desired height of the rectangle */
            object-fit: cover; /* Ensures the image covers the entire rectangle */
        }
        .description {
            font-size: 5vh;
            font-weight: bold;
            text-transform: uppercase;
        }
    </style>
    <div class="row">
        <div class="column">
            <img src="images/fulls/DSC08327.JPG" alt="Image 1">
            <p class="description">cityscape</p>
        </div>
        <div class="column">
            <img src="images/fulls/20240625_020658_DSC03059.JPG" alt="Image 2">
            <p class="description">Snap</p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img src="images/thumbs/mmexport1711750588072.jpg" alt="Image 3">
            <p class="description">Portrait</p>
        </div>
        <div class="column">
            <img src="images/thumbs/DSC04743.JPG" alt="Image 4">
            <p class="description">landscape</p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img src="images/thumbs/DSC01686.JPG" alt="Image 5">
            <p class="description">astro</p>
        </div>
        <div class="column">
            <img src="images/fulls/DSC08547.JPG" alt="Image 6">
            <p class="description">flower and animals</p>
        </div>
    </div>    
    <div class="row">
        <div class="column">
            <img src="" alt="Image 7">
            <p class="description">sport</p>
        </div>
        <div class="column">
            <img src="" alt="Image 8">
            <p class="description">lifestyle</p>
        </div>
    </div>
    <!-- Add more rows as needed -->
    
    {% include page-header.html %}

    {% include page-footer.html %}
</div>
